<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" >
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
